*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
}

body{
    cursor: default;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    background-color: #15141a;
}

.container{
    max-width: 1325px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.film-block{
    padding: 30px;
    background: white;
    margin-top: 50px;
    border-radius: 20px;
}

/*Шапка*/
.header{
    position: relative;
    width: 100%;
    background: #fff;
    padding: 15px 0;
}

.logo{
    display: block;
    float: left;
}

.header__list{
    float: right;
}

.header__list li{
    display: inline-block;
    margin-right: 30px;
}

.header__list li:last-child{
    margin-right: 0;
}

.header__list a{
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    color: #15141a;
    text-decoration: none;
    display: block;
    position: relative;
}

.header__link::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #15141a;
    transition: width 0.5s;
}

.header__link:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color: #137cf0;
    transition: width 0.5s; 
}

/*Поиск*/
#search{
    float: right;
    display: inline-block;
    position: relative;
    margin-left: 20px;
    background: #9e9e9e56;
    border-radius: 30px;
    padding: 3px;
}

#search:hover > .search__text{
    width: 100px;
}

#search:hover > .search__button{
    background: white;
    color: #137cf0;
}

.search__button{
    color: #fff;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #15141a;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    text-decoration:none;
}

.search__button > i{
    font-size: 14px;
}

.search__text{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #15141a;
    font-size: 14px;
    transition: 0.5s;
    line-height: 30px;
    width: 0px;
}
/*Поиск*/

.cards{
    display: flex;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
    padding: 20px;
    border-radius: 10px;
    margin-left: 10px;
}