*,
*::before,
*::after {
    box-sizing: border-box;
}

*{
    margin: 0;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.container{
    box-shadow: 2px 2px 68px 6px rgba(22, 88, 138, 0.76);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 400px;
}

.container__reg{
    box-shadow: 2px 2px 60px 10px rgba(41, 120, 6, 0.39);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 400px;
}

.wrapper{
    width: 100%;
    text-align: center;
}

.input{
    display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn{
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    background: rgba(22, 88, 138, 0.76);
    width: 30%;
    color: white;

    a {
        text-decoration: none;
        color: white;
    }
}